Manifest.toml
.ipynb_checkpoints/
.vscode/
**.DS_store
history.hdf5
profiles.hdf5
*.mp4
*.gif
*.png
example_options.toml
docs/build
alloc-profile.pb.gz

NuclearBurning.md
developing/test*
profile.pb.gz
